/*Geral*/
@font-face{
    font-family:'Rokkitt';
    src: url('../fontes/Rokkitt-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vidaloka' ;
    src: url('../fontes/Vidaloka-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --branco: #F2F2F2;
    --cinza: #555954;
    --azul-claro: #5EBFBF;
    --azul-medio: #3F858C;
    --azul-escuro: #2B3840;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--branco);
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
    font-family: 'Rokkitt';
    color: var(--cinza);
    font-size: 1.5em;
}

#header{
    display: flex;
    justify-content: space-around;
    padding: 10px 40px;
    align-items: center;
}

#header img{
    margin-left: 1em;
}

.navegação{
    display: flex;
    flex-wrap: wrap;
    width: 65vw;
    justify-content: space-around;
}

.navegação li a{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: var(--cinza);
}

.navegação li a:hover{
    color: var(--azul-medio);
}

.Linha-cabeçalho{
    border: 1px solid var(--azul-claro);
    width: 95%;
    margin-top: -1em;
    background-color: var(--azul-claro);
}

main{
    margin: 72px 148px;
    padding: 2em 0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5vw;
}

.contato-container{
    background-color: var(--azul-medio);
    display: flex;
    width: 45%;
    min-width: 200px;
    height: 125px;
}

.contato-container img{
    width: 4vw;
    max-width: 75px;
    min-height: 60px;
    height: 4vw;
    max-height: 75px;
    min-height: 40px;
    margin: 2em 0.5em 2em 1em;
    padding: 0;
}

.texto-contato{
    width: 100%;
    height: 100%;
    font-family: 'Vidaloka';
    font-size: clamp(17px, 1.8vw, 35px);
    color: var(--branco);
    text-align: center;
    padding-right: 0.7em;
}

.texto-contato h1{
    margin: 0 auto;
    font-size: clamp(24px, 2vw, 40px);
    width: 100%;
    height: 30%;
    padding-top: 0.3em;
}

#footer{
    width: 100%;
    height: 100%;
    background: var(--azul-escuro);
}

#footer-imagem{
    text-align: center;
    padding: 0.8em;
}

@media screen and (max-width: 748px){
    #header{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .navegação{
        flex-wrap: wrap;
        padding: 0;
        width: 90vw;
        gap: 1em;
    }

    .navegação li a{
        font-size: clamp(14px, 3vw, 22px);
    }

    main{
        width: 90%;
        padding: 0px;
        margin: 72px auto;
        justify-content: center;
    }

    .contato-container{
        width: 80%;
        height: 100px;
    }

    .contato-container img{
        width: 45px;
        min-width: 35px;
        height:45px;
        min-height: 35px;
        margin: 1.5em 1em;
    }

    .texto-contato{
        font-size: clamp(15px, 4vw, 24px);
    }

    .texto-contato h1{
        font-size: clamp(20px, 5vw, 30px);
    }
}