/*Geral*/
@font-face{
    font-family:'Rokkitt';
    src: url('../fontes/Rokkitt-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vidaloka' ;
    src: url('../fontes/Vidaloka-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --branco: #F2F2F2;
    --cinza: #555954;
    --azul-claro: #5EBFBF;
    --azul-medio: #3F858C;
    --azul-escuro: #2B3840;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--branco);
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
    font-family: 'Rokkitt';
    color: var(--cinza);
    font-size: 1.5em;
}

#header{
    display: flex;
    justify-content: space-around;
    padding: 10px 40px;
    align-items: center;
}

#header img{
    margin-left: 1em;
}

.navegação{
    display: flex;
    flex-wrap: wrap;
    width: 65vw;
    justify-content: space-around;
}

.navegação li a{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: var(--cinza);
}

.navegação li a:hover{
    color: var(--azul-medio);
}

.Linha-cabeçalho{
    border: 1px solid var(--azul-medio);
    width: 95%;
    margin-top: -1em;
}

main{
    margin: 72px 148px;
    padding: 2em 0em;
}

#contato{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
}

.contato-container{
    background-color: var(--azul-medio);
    display: flex;
    width: 45%;
    min-width: 400px;
    height: 125px;
    margin-bottom: 7em;
}

.contato-container img{
    width: 64px;
    height: 64px;
    margin: 2em;
}

.texto-contato{
    width: 100%;
    height: 100%;
    font-family: 'Vidaloka';
    font-size: 27px;
    color: var(--branco);
    text-align: center;
}

.texto-contato h1{
    font-size: 27px;
}

#footer{
    width: 100%;
    height: 100%;
    background: var(--azul-escuro);
}

#footer-imagem{
    text-align: center;
    padding: 0.8em;
}

@media screen and (max-width: 748px){
    #header{
        flex-direction: column;
    }

    .navegação{
        padding: 0;
    }
    .navegação li a{
        text-align: center;
        margin: 1em;
    }

    main{
        width: 90%;
        padding: 0px;
        margin: 72px auto;
    }

    #contato{
        justify-content: center;
        gap: 5em;
    }
    .contato-container{
        width: 80%;
    }
}