/*Geral*/
@font-face{
    font-family:'Rokkitt';
    src: url('../fontes/Rokkitt-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vidaloka' ;
    src: url('../fontes/Vidaloka-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #F2F2F2;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
    font-family: 'Rokkitt';
    color: #555954;
    font-size: 1.5em;
}

#header{
    display: flex;
    justify-content: space-around;
    padding: 10px 40px;
    align-items: center;

}

.navegação{
    display: flex;
    flex-wrap: wrap;
}

.navegação li a{
    margin: 0em 4em;
    padding: 10px;

}

.navegação li a{
    text-decoration: none;
    color: #555954;
}
.navegação li a:hover{
    color: #3F858C;
}

.Linha-cabeçalho{
    border: 1px solid #5ebfbf;
    width: 95%;
    margin-top: -1em;
}

main{
    margin: 72px 148px;
    padding: 2em 0em;
}

#conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6em;
}

.conteiner-especialidades{
    width: 550px;
    height: 300px;
    border: 3px solid #5EBFBF;
    
}

.titulo-conteiner{
    margin: 0 auto;
    background-color: #5EBFBF;
    width: 100%;
    padding: 10px 0px;
    font-size: 36px;
    text-align: center;
    color: #555954;
    font-family: 'Rokkitt';
}

.texto-especialidades{
    height: 150px;
    text-align: justify;
    font-size: 21px;
    padding: 0 3px;
    color: #555954;
    font-family: 'Vidaloka';
}

.divisão-responsavel{
    border: 1px solid #5EBFBF;
    width: 95%;
}

.responsavel{
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    color: #555954;
    font-family: 'Rokkitt';

}

.responsavel a{
    text-decoration: none;
    color: #555954;
}

/*Rodapé*/
#footer{
    width: 100%;
    height: 100%;
    background: #2B3840;
}

#footer-imagem{
    text-align: center;
    padding: 0.8em;
}