/*Geral*/
@font-face{
    font-family:'Rokkitt';
    src: url('../fontes/Rokkitt-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vidaloka' ;
    src: url('../fontes/Vidaloka-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --branco: #F2F2F2;
    --cinza: #555954;
    --azul-claro: #5EBFBF;
    --azul-medio: #3F858C;
    --azul-escuro: #2B3840;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--branco);
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
    font-family: 'Rokkitt';
    color: var(--cinza);
    font-size: 1.5em;
}

#header{
    display: flex;
    justify-content: space-around;
    padding: 10px 40px;
    align-items: center;
}

#header img{
    margin-left: 2em;
}

.navegação{
    display: flex;
    flex-wrap: wrap;
    width: 65vw;
    justify-content: space-around;
}

.navegação li a{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: var(--cinza);
}

.navegação li a:hover{
    color: var(--azul-medio);
}

.Linha-cabeçalho{
    border: 1px solid var(--azul-claro);
    width: 95%;
    margin-top: -1em;
}

main{
    margin: 72px 148px;
    padding: 2em 0em;
}

#conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6em;
}

.conteiner-especialidades{
    width: 550px;
    height: 300px;
    border: 3px solid var(--azul-claro);
    
}

.titulo-conteiner{
    margin: 0 auto;
    background-color: var(--azul-claro);
    width: 100%;
    padding: 10px 0px;
    font-size: 36px;
    text-align: center;
    color: var(--cinza);
    font-family: 'Rokkitt';
}

.texto-especialidades{
    height: 150px;
    text-align: justify;
    font-size: 21px;
    padding: 0 3px;
    color: var(--cinza);
    font-family: 'Vidaloka';
}

.divisão-responsavel{
    border: 1px solid var(--azul-claro);
    width: 95%;
}

.responsavel{
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    color: var(--cinza);
    font-family: 'Rokkitt';

}

.responsavel a{
    text-decoration: none;
    color: var(--cinza);
}

/*Rodapé*/
#footer{
    width: 100%;
    height: 100%;
    background: var(--azul-escuro);
}

#footer-imagem{
    text-align: center;
    padding: 0.8em;
}

@media screen and (max-width: 748px){
    #header{
        flex-direction: column;
    }

    .navegação{
        padding: 0;
    }
    .navegação li a{
        text-align: center;
        margin: 1em;
    }

    main{
        width: 90%;
        padding: 0px;
        margin: 72px auto;
    }

    #conteudo{
        justify-content: center;
    }

}