@font-face{
    font-family:'Rokkitt';
    src: url('../fontes/Rokkitt-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vidaloka' ;
    src: url('../fontes/Vidaloka-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --branco: #F2F2F2;
    --cinza: #555954;
    --azul-claro: #5EBFBF;
    --azul-medio: #3F858C;
    --azul-escuro: #2B3840;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--branco);
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
    font-family: 'Rokkitt';
    color: var(--cinza);
    font-size: 1.5em;
}

#header{
    display: flex;
    justify-content: space-around;
    padding: 10px 40px;
    align-items: center;
}

#header img{
    margin-left: 1em;
}

.navegação{
    display: flex;
    flex-wrap: wrap;
    width: 65vw;
    justify-content: space-around;
}

.navegação li a{
    text-decoration: none;
    color: var(--cinza);
}

.navegação li a:hover{
    color: var(--azul-medio);
}

.Linha-cabeçalho{
    border: 1px solid var(--azul-claro);
    width: 95%;
    margin-top: -1em;
}

main{
    margin: 72px 148px;
    padding: 2em 0em;
}

#conteudo-superior{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
}

#Texto-home{
    box-sizing: border-box;
    width: 49%;
    height: 300px;
    font-family: 'Vidaloka';
    text-align: justify;
    font-size: clamp(18px, 2vw, 38px);
    line-height: 1.5em;
    color: var(--cinza);
    display: block;
}

.Linha-vertical{
    border: 1px solid var(--azul-claro);
    height: 120px;
    margin: 5.5em 2em;
}

#formulario{
    box-sizing: border-box;
    width: 49%;
    height: 300px;
    text-align: center;
}

#formulario h1{
    font-family: 'Rokkitt';
    color: var(--azul-medio);
    margin-top: 1px;
    font-size: clamp(19px, 1.8vw, 37px);
}

#formulario fieldset{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    border: none;
}

#formulario input{
    width: 85%;
    max-width: 630px;
    height: 70%;
    min-height: 10px;
    border: 3px solid var(--azul-medio);
}

#formulario button{
    max-width: 110px;
    min-width: 50px;
    max-height: 35px;
    min-height: 20px;
    background-color: var(--azul-medio);
    font-family: 'Rokkitt';
    font-size: clamp(14px, 1.5vw, 28px);
    color: var(--branco);
    border: none;
    margin: 0.5em;
}

input[type=text] {
    font-size: clamp(14px, 1.3vw, 24px);
    font-family: 'Rokkitt';
    color: var(--cinza);
}

input[type=email] {
    font-size: clamp(14px, 1.3vw, 24px);
    font-family: 'Rokkitt';
    color: var(--cinza);
}

input[type=tel] {
    font-size: clamp(14px, 1.3vw, 24px);
    font-family: 'Rokkitt';
    color: var(--cinza);
}

.campo{
    width: 100%;
    height: 40px;
    border-top: 1em solid var(--branco);
}

#nome::placeholder{
    font-family: 'Rokkitt';
    font-size: clamp(14px, 1.3vw, 24px);
    color: var(--cinza);
}

#email::placeholder{
    font-family: 'Rokkitt';
    font-size: clamp(14px, 1.3vw, 24px);
    color: var(--cinza);
}

#telefone::placeholder{
    font-family: 'Rokkitt';
    font-size: clamp(14px, 1.3vw, 24px);
    color: var(--cinza);
}

#area-imagens{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 2em;
}

#area-imagens img{
    transition: all 0.2s;
    max-width: 100%;
    border: 2px solid var(--azul-medio);
}

#area-imagens img:hover{
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}


#footer{
    width: 100%;
    height: 100%;
    background: var(--azul-escuro);
}

#footer-imagem{
    text-align: center;
    padding: 0.8em;
}

@media screen and (max-width: 748px){
    #header{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .navegação{
        flex-wrap: wrap;
        padding: 0;
        width: 90vw;
        gap: 1em;
    }

    .navegação li a{
        font-size: clamp(14px, 3vw, 22px);
    }


    main{
        width: 90%;
        padding: 0px;
        margin: 72px auto;
    }

    #Texto-home{
        font-size:clamp(14px, 3vw, 23px);
    }
}