@font-face{
    font-family:'Rokkitt';
    src: url('../fontes/Rokkitt-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vidaloka' ;
    src: url('../fontes/Vidaloka-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #F2F2F2;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
    font-family: 'Rokkitt';
    color: #555954;
    font-size: 1.5em;
}

#header{
    display: flex;
    justify-content: space-around;
    padding: 10px 40px;
    align-items: center;

}

.navegação{
    display: flex;
    flex-wrap: wrap;
}

.navegação li a{
    margin: 0em 4em;
    padding: 10px;

}

.navegação li a{
    text-decoration: none;
    color: #555954;
}
.navegação li a:hover{
    color: #3F858C;
}

.Linha-cabeçalho{
    border: 1px solid #5ebfbf;
    width: 95%;
    margin-top: -1em;
}

main{
    margin: 72px 148px;
}

#conteudo-superior{
    display: flex;
}

#Texto-home{
    box-sizing: border-box;
    width: 550px;
    height: 300px;
    font-family: 'Vidaloka';
    text-align: justify;
    font-size: 26px;
    line-height: 1.5em;
    color: #555954;
    display: block;
}

.Linha-vertical{
    border: 1px solid #5ebfbf;
    height: 120px;
    margin-top: 5.5em;
}


#formulario{
    box-sizing: border-box;
    width: 550px;
    height: 300px;
    text-align: center;
}

#formulario h1{
    font-family: 'Rokkitt';
    color: #3F858C;
    margin-top: 1px;
    font-size: 28px;
}

#formulario fieldset{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    border: none;
}

#formulario input{
    width: 75%;
    height: 70%;
    border: 3px solid #3F858C;
}

#formulario button{
    width: 100px;
    height: 30px;
    background-color: #3F858C;
    font-family: 'Rokkitt';
    font-size: 22px;
    color: #F2F2F2;
    border: none;
    margin: 0.5em;
}

.campo{
    width: 100%;
    height: 40px;
    border-top: 1em solid #f2f2f2;
}

#nome::placeholder{
    font-family: 'Rokkitt';
    font-size: 16px;
    color: #555954;
}

#email::placeholder{
    font-family: 'Rokkitt';
    font-size: 16px;
    color: #555954;
}

#telefone::placeholder{
    font-family: 'Rokkitt';
    font-size: 16px;
    color: #555954;
}

#area-imagens{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#area-imagens img{
    max-width: 100%;
    display: block;
    border: 2px solid #3F858C;
}

#area-imagens img:hover{
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}


#footer{
    width: 100%;
    height: 100%;
    background: #2B3840;
}

#footer-imagem{
    text-align: center;
}