@font-face{
    font-family:'Rokkitt';
    src: url('../fontes/Rokkitt-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vidaloka' ;
    src: url('../fontes/Vidaloka-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --branco: #F2F2F2;
    --cinza: #555954;
    --azul-claro: #5EBFBF;
    --azul-medio: #3F858C;
    --azul-escuro: #2B3840;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--branco);
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
    font-family: 'Rokkitt';
    color: var(--cinza);
    font-size: 1.5em;
}

#header{
    display: flex;
    justify-content: space-around;
    padding: 10px 40px;
    align-items: center;
}

#header img{
    margin-left: 1em;
}

.navegação{
    display: flex;
    flex-wrap: nowrap;
    width: 65vw;
    justify-content: space-around;
}

.navegação li a{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: var(--cinza);
}

.navegação li a:hover{
    color: var(--azul-medio);
}

.Linha-cabeçalho{
    border: 1px solid var(--azul-claro);
    width: 95%;
    margin-top: -1em;
}

main{
    margin: 72px 148px;
    padding: 2em 0em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
}

.texto{
    box-sizing: border-box;
    width: 41%;
    min-width: 100px;
    height: 300px;
    font-family: 'Vidaloka';
    text-align: justify;
    font-size: clamp(17px, 1.5vw, 36px);
    line-height: 1.5em;
    color: var(--cinza);
    margin: 0 auto;
}

.Linha-vertical{
    border: 1px solid var(--azul-claro);
    height: 120px;
    margin: 5.5em 0em;
    
}

.imagens-sobre{
    display: flex;
    width: 41%;
    min-width: 100px;
    height: 300px;
    margin: 0 auto;
    align-items: center;
}

.imagens-sobre img{
    border: 2px solid var(--azul-medio);
    transition: all 0.2s;
    width: 90%;
    max-width: 550px;
    height: auto;
    margin: 0 auto;
}

.imagens-sobre img:hover{
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);    
}

/*Rodapé*/
#footer{
    width: 100%;
    height: 100%;
    background: var(--azul-escuro);
}

#footer-imagem{
    text-align: center;
    padding: 0.8em;
}

@media screen and (max-width: 748px){
    #header{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .navegação{
        flex-wrap: wrap;
        padding: 0;
        width: 90vw;
        gap: 1em;
    }

    .navegação li a{
        font-size: clamp(14px, 3vw, 22px);
    }


    main{
        width: 90%;
        padding: 0px;
        margin: 72px auto;
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }

    .texto{
        width: 100%;
        height: 200px;
        font-size: clamp(16px, 3.7vw, 22px);
    }

    .imagens-sobre{
        width: 100%;
        height: 200px;
    }

    .imagens-sobre img{
        width: 75%;
        min-width:250px;
        max-width: 300px;
    }

    .Linha-vertical{
        display: none;
    }
}