@font-face{
    font-family:'Rokkitt';
    src: url('../fontes/Rokkitt-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vidaloka' ;
    src: url('../fontes/Vidaloka-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #F2F2F2;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
    font-family: 'Rokkitt';
    color: #555954;
    font-size: 1.5em;
}

#header{
    display: flex;
    justify-content: space-around;
    padding: 10px 40px;
    align-items: center;

}

.navegação{
    display: flex;
    flex-wrap: wrap;
}

.navegação li a{
    margin: 0em 4em;
    padding: 10px;

}

.navegação li a{
    text-decoration: none;
    color: #555954;
}
.navegação li a:hover{
    color: #3F858C;
}

.Linha-cabeçalho{
    border: 1px solid #5ebfbf;
    width: 95%;
    margin-top: -1em;
}

main{
    margin: 72px 148px;
    padding: 2em 0em;
}

.imagens-sobre img{
    border: 2px solid #3F858C;
    transition: all 0.2s;
}

.imagens-sobre img:hover{
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);    
}

#conteudo{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

#texto-sobre1{
    box-sizing: border-box;
    width: 550px;
    height: 300px;
    font-family: 'Vidaloka';
    text-align: justify;
    font-size: 26px;
    line-height: 1.5em;
    color: #555954;
    display: block;
}

#texto-sobre2{
    box-sizing: border-box;
    width: 550px;
    height: 300px;
    font-family: 'Vidaloka';
    text-align: justify;
    font-size: 26px;
    line-height: 1.5em;
    color: #555954;
    padding-top: 1em;
    padding-bottom: 1em;
    display: block;
}

.Linha-vertical{
    border: 1px solid #5ebfbf;
    height: 120px;
    margin-top: 5.5em;
}

/*Rodapé*/
#footer{
    width: 100%;
    height: 100%;
    background: #2B3840;
}

#footer-imagem{
    text-align: center;
    padding: 0.8em;
}