@font-face{
    font-family:'Rokkitt';
    src: url('fontes/Rokkitt-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vidaloka';
    src: url('fontes/Vidaloka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #F2F2F2;
}
body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a{
    text-decoration: none;
}

ul{
    font-family: 'Rokkitt';
    color: #555954;
    font-size: 1.5em;
}

.header{
    display: flex;
    justify-content: space-around;
    padding: 10px 40px;
    align-items: center;

}

.navegação{
    display: flex;
    flex-wrap: wrap;
}

.navegação li a{
    margin: 0em 4em;
    padding: 10px;

}

.navegação li a{
    color: #555954;
}
.navegação li a:hover{
    color: #3F858C;
}

.Linha-cabeçalho{
    border: 1px solid #5ebfbf;
    width: 95%;
    margin-top: -1em;
}

